<div id="<%= dom_id note %>" class="blockquote-container">
  <div class="callout">
    <h4 class="blockquote-title"><%= link_to note.campaign.name, note  %></h4>
    <blockquote>
      <p class="blockquote-content"><%= note.content %></p>
    </blockquote>
  </div>

</div>
