<p style="color: green"><%= notice %></p>

<h1>Notes</h1>
<%= link_to "New note", new_note_path %>
<div id="notes" class="genFlex">
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>


