<p style="color: green"><%= notice %></p>

<h1>Campaigns</h1>
<%= link_to "New campaign", new_campaign_path %>
<div id="campaigns" class="genFlex">
  <% @campaigns.each do |campaign| %>
    <%= render campaign %>
  <% end %>
</div>


