.genFlex {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}
.mainCont {
    width: 90vw;
    margin: 0 auto;
}
.translucent-form-overlay {
    max-width: 90vw;
}
trix-toolbar .trix-button-row {
    flex-wrap: wrap;
}
.trix-dialogs {
    background-color: white;
}

trix-toolbar .trix-button {
    background: white;
}
.trix-content {
    background: white;
}
.base-submit-button {
    margin-top: 0.5vh
}
body {
    background-color: #ebebeb;
}
.container {  display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "links utility"
      "links notes";
  }
  
.links { 
    grid-area: links; 
    display: flex;
    justify-content: center;
}
  
.notes { grid-area: notes; }
.notes ul {
    margin: 0rem;
}  
.utility { grid-area: utility; }

.trix-content {
    color: #8a8a8a;
}

.trix-override .trix-content {
    color:black;
    background: none;
}

.link-item {
    border-radius: .2rem;
    background: #d2cfcf;
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.link-item a, .note-item h4, .note-item a {
    padding: 0 .25rem 0 .25rem;
}
.utility-list {
    border-radius: .2rem;
    background: #d2cfcf;
    margin: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.utility-list li, .utility-list h2 {
    margin: .5rem;
}
.note-item {
    border-radius: .2rem;
    background: #d2cfcf;
    margin: 0.5rem;
    list-style-type: none;
}
.note-item .trix-content {
    background: #d2cfcf;
    color: black;
    padding: .25rem 1rem .25rem 1rem
}