<div id="<%= dom_id campaign_member %>">
  <p>
    <strong>User:</strong>
    <%= campaign_member.user.email + "(" + campaign_member.user_name + ")" %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= campaign_member.campaign_id %>
  </p>

</div>
