
<!--<div id="<%#= dom_id useful_link %>">
  <a href="<%#= useful_link.url %>" target="_blank"><%#= useful_link.name %></a>
</div>-->
<li class="link-item" id="<%= dom_id useful_link %>">
  <a href="<%= useful_link.url %>" target="_blank"><%= useful_link.name %></a>
</li>
