<h1>Editing useful link</h1>

<%= render "form", useful_link: @useful_link %>

<br>

<div>
  <%= link_to "Show this useful link", @useful_link %> |
  <%= link_to "Back to useful links", useful_links_path %>
</div>
