<p style="color: green"><%= notice %></p>

<h1>Useful links</h1>
<%= link_to "New useful link", new_useful_link_path %>
<div id="useful_links" class="genFlex">
  <% @useful_links.each do |useful_link| %>
    <%= render useful_link %>
  <% end %>
</div>


